<div class="footer">
  <div>
    <a href="about"> About </a>
    <a href="#"> FAQ </a>
  </div>
  <div>
    <a href="http://twitter.com" target="_blank" rel="noreferrer"
      ><img
        src="assets/Media/twitter_logo.png"
        alt="Twitter Logo"
        class="footerpic"
    /></a>
    <a href="http://facebook.com" target="_blank" rel="noreferrer"
      ><img
        src="assets/Media/facebook_logo.png"
        alt="Facebook Logo"
        class="footerpic"
    /></a>
  </div>
</div>
